body {
    margin: 0px;
    background: lightgoldenrodyellow;
}
  
.container {
    margin: 0px;
    padding: 10px;
    height:150px;
    position: relative;
    background-color: darkkhaki;
    text-align: center;

}
  
.title {
    margin: 0px;
    padding: 0px;
    font-size: 34px;
    font-family: 'poppins', sans-serif;;
    font-weight: bold;
    color: lightgoldenrodyellow;
    position: absolute;
    top: 50px;
    left: calc((100% - 500px) /2);
    right: calc((100% - 500px) /2);
}
  
.title::before, .title::after {
    content:" 👋 ";
    width: 10px;
    height: 10px;
    background: darkkhaki;
}
  
.menu {
    padding-top: 25px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
}

.btn {
    margin: 5px;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    border: 0px;
    border-radius: 12px;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    color: sienna;
}

.btn:hover {
    background-color: peachpuff;
}
  
.web-design, 
.fotografia {
    margin: 100px;
    padding: 10px;
    display: inline-block;
    background-color: darkkhaki;
    border-radius: 12px;
    width: 400px;
}
  
.fotografia {
    position: absolute;
    right: 0px;
}
  
.h1 {
    color: lightgoldenrodyellow;
    font-size: 30px;
    font-family: 'montserrat', sans-serif;;
    font-weight: bold;
    border-bottom: 1px solid lightgoldenrodyellow;
}
  
.h2 {
    margin: 50px;
    color: lightgoldenrodyellow;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    font-weight: 200;
}

.links-container {
    background-color: coral;
    margin: 0px;
    padding-top: 25px;
    padding-left: 10px;
    height: 70px;
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0px;
}
  
.link {
    margin-left: 10px;
    padding: 7px;
    background-color: lightgoldenrodyellow;
    border: 1px solid sienna;
    border-radius: 10px;
    text-decoration: none;
    color: sienna;
    font-family: 'poppins', sans-serif;
    font-size: 14px;
} 
  
.link:visited {
    color: sienna;
}
  
.link:hover {
    background-color: peachpuff;
}
  