body {
    margin: 0px;
    background: lightgoldenrodyellow;
}
  
.container {
    margin: 0px;
    padding: 10px;
    height:150px;
    background-color: darkkhaki;
}
  
#title {
    margin: 0px;
    padding: 0px;
    font-size: 32px;
    color: lightgoldenrodyellow;
    position:relative;
    left: 500px;
    top: 15px;
}
  
#title::before, #title::after {
    content:" 👋 ";
    width: 10px;
    height: 10px;
    background: darkkhaki;
}
  
.menu li {
    padding-top: 25px;
    display: inline-block;
    float: right;
    position:relative;
    top:-30px;
}
  
.menu button {
    margin: 5px;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    border: 0px;
    border-radius: 12px;
    font-size: 18px;
    color: sienna;
}
  
.menu button:hover {
    background-color: peachpuff;
}
  
.web-design, .fotografia {
    margin: 100px;
    padding: 10px;
    display: inline-block;
    background-color: darkkhaki;
    border-radius: 12px;
    width: 400px;
}
  
.fotografia {
    float: right;
}
  
.h1 {
    color: lightgoldenrodyellow;
    font-size: 30px;
    border-bottom: 1px solid lightgoldenrodyellow;
}
  
.h2 {
    color: peachpuff;
    font-size: 14px;
    margin: 50px;
}
  
section > ul {
    background-color: coral;
    margin: 0px;
    padding: 0px;
    height: 70px;
    width: 100%
}
  
.links li {
    display: inline-block;
    padding: 20px;
}
  
.links a {
    padding: 7px;
    background-color: lightgoldenrodyellow;
    border: 1px solid sienna;
    border-radius: 10px;
    text-decoration: none;
}
  
.links a:visited {
    color: sienna;
}
  
.links a:hover {
    background-color: peachpuff;
}
  